
#container
{
width: 100%;
margin: 10px auto;
background-color: #fff;
color: #333;
border: 1px solid gray;
line-height: 130%;
}

#header
{
padding: .5em;
background-color: #A8DADC;
border-bottom: 3px solid darkblue;
font-family: serif;
text-align: center;

}


#leftnav
{
float: left;
width: 130px;
text-align: center;
line-height: 1.4em;
}

#rightnav
{
float: right;
width: 250px;
text-align: center
}

#rightnav a
{
font-size: 10pt;
}

#content
{
margin-left: 130px;
border-left: 3px solid darkblue;
margin-right: 250px;
border-right: 3px solid darkblue;
font-family: sans;
}

#content h2
{
text-align: center;
}



#top
{
padding:1.2em;
margin:0;
border-bottom:3px solid darkblue ;
overflow:auto;
}


#top img,figure
{
font-size: 10pt;
font-family: 'Times New Roman';
float:right;
}

#bottom
{
padding:1.2em;
margin:0;
}

#bottom img,figure
{
font-size: 10pt;
font-family: 'Times New Roman';
float:right;
}
#footer
{
clear: both;
margin: 0;
padding: .5em;
color: #333;
background-color: #ddd;
border-top: 1px solid gray;
}

#leftnav p, #rightnav p { margin: 0 0 1em 0; }
#content h2 { margin: 0 0 .5em 0; }